body {
  background-color: #7289da;
}

.login-card {
  background-color: #ffffff;
  padding: 50px 0 50px 0;
  border-radius: 10px;
  margin-bottom: 50px;
}

.login-form {
  padding: 0 15% 0 15%;
}

/* ------- chatrooms ------- */

.left-panel {
  background-color: #a2b3f0;
  margin-bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.bottom-panel {
  height: 54px;
  background-color: #a2b3f0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.chat-input {
  width: 93%;
  height: 39px;
  border-radius: 5px;
  border: none;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.chat-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.messages-box {
  background-color: #ffffff;
  margin-bottom: 15px;
  border-radius: 5px;
  overflow-y: scroll;
  height: 100%;
}

.message-form form {
  width: 100%;
  display: flex;
}

.message-form input {
  flex: 2;
  margin: 0px;
}

/* ------- message card ------- */

.message-card {
  margin: 15px 20px 15px 30px;
  padding: 15px 20px 5px 20px;
  border-radius: 5px;
  background-color: #7289da36;
}

.message-card .username {
  margin-right: 12px;
}

.message-card .text-user {
  color: #7289da;
}

.message-card p {
  font-size: 1.2rem;
}

.message-card .time {
  font-weight: 400;
  font-size: 82%;
  color: rgba(0, 0, 0, 0.397);
}

/* ------- scrollbar ------- */

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #afbcea;
  border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #7289dac9;
}

/* ------- react-tabs ------- */

.react-tabs {
  -webkit-tap-highlight-color: transparent;
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  padding: 0 48px;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #a2b3f0;
  margin: 0 0 15px;
  padding: 0;
  border: solid #a2b3f0 1px;
  border-radius: 5px;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  /* bottom: -1px; */
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
}

.react-tabs__tab--selected {
  background: #a2b3f0;
  border-color: #a2b3f0;
  color: white;
  border-radius: 5px;
}

/* .react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
} */

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */